
.navbar {
    overflow: hidden;
    font-family: Roboto, 'sans-serif';
    position: relative;
    margin-left: 32px;    
    margin-right: 32px;  
    margin-top: 32px;  

}

.navbar-right {
    position: absolute;
    bottom: 0;
    right: 0;
    
}
body{
    background-color: #FFFFFF;
    font-family: Roboto, 'sans-serif';

}




.front h1 {
    font-family: Montserrat, sans-serif;
    color:#9e4244;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 64px;
}

h2 {
    font-family: Montserrat, sans-serif;
    color:#1A1B1F;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
}

h3 {
    font-family: Montserrat, sans-serif;
    color:#1A1B1F;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 32px;
}



.front .text {
    font-family: Roboto, sans-serif;
    color:#1A1B1F;
    font-size: 20px;
    font-weight: 400;
}


.front {
    margin-top: 15%;
    margin-left: 20%;    
    margin-right: 20%;    

}

.projcontainer {
    margin-top: 128px;
    display: grid;
    align-items: top; 
    column-gap: 5px;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}




img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;

}

.projcontainer .projtext {
    font-family: Roboto, sans-serif;
    color:#1A1B1F;
    font-size: 20px;
    margin-right: 32px;
}

.content {
    margin-top: 15%;
    margin-left: 20%;    
    margin-right: 20%;    

}

.content h1 {
    font-family: Montserrat, sans-serif;
    color:#1A1B1F;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 64px;
}

.content p, li {
    font-family: Roboto, sans-serif;
    color:#1A1B1F;
    font-size: 20px;
    margin-right: 64px;
    line-height: 150%;
}

.aboutcontainer {
    margin-top: 128px;
    display: grid;
    align-items: top; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));    column-gap: 5px;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 16px;
    font-family: Roboto, sans-serif;
    color:#1A1B1F;
}

table {
    width:100%;
}

.writeupdiv {
   margin-top: 128px; 
}

#bad {
    color:#FFFFFF;
    font-weight: 800;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 32px;
    align-content: center;

  }
  * {
    box-sizing: border-box;
  }
  
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #254441;
}

.name {
	display: block;
	padding: 0 30px;
	float: left;
	font-size: 24px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #254441;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	



/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	.name {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
        font-size: 24px;
	}

	nav {
		margin: 0;
	}


	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}